@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --font-nabla: "Nabla", "sans-serif";
  --font-dynapuff: "DynaPuff", "sans-serif";
  --font-sour-gummy: "Sour Gummy", "sans-serif";
}

:root {
  --bg-image: url('/bg-light.svg');
}

.dark {
  --bg-image: url('/bg.svg');
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
  --animate-duration: 8s;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
